#include <windows.h>
#include "dlgitems.h"

CALC DIALOG DISCARDABLE 0, 0, 300, 150
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION
CAPTION "CALC"

BEGIN
	RTEXT	"Expression:", -1, 35, 10, 30, 10
	EDITTEXT	ID_EXPR, 70, 10, 150, 10, WS_TABSTOP
	PUSHBUTTON	"OK", IDOK, 140, 115, 25, 10
END
